.app-body {
  grid-column-start: m;
  grid-column-end: k;
  grid-row-start: m;
  grid-row-end: k;
  background-color: white;
  position: relative;
}

.pf-c-about-modal-box__hero {
  background-image: url("/assets/RedHat_about_BG.svg");
  background-size: auto;
}

.pf-c-page__header-brand-link > img {
  height: 60px;
  width: 400px;
}
